<section id="astronaut-index"
<% @astronauts.each do |astronaut| %>
<section id= "astronaut-info-<%= astronaut.id%>">
  <h3> <%= astronaut.name %></h3>
  <h3> <%= astronaut.age %></h3>
  <h3> <%= astronaut.job %></h3>
  </section>
<% end %>
<h2><%= @astronauts.average_age.round(2) %><h2>
</section>
